.footer-page__logo, .logo {
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

.footer-form__btn {
  cursor: pointer;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  color: #ffffff;
  background-color: #2196f3;
  letter-spacing: 0.06em;
  font-weight: 700;
  border-radius: 4px;
  font-size: 16px;
}

.logo {
  color: #000000;
  display: block;
  padding: 16px 0;
  font-weight: 700;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .logo {
    display: block;
    margin-right: 0px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 0;
    margin-right: 0px;
  }
}

.logo__base {
  color: #2196f3;
}

.footer-page__logo {
  color: #ffffff;
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-page__logo {
    text-align: left;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.2;
  background-color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
}

.base-container {
  width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .base-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .base-container {
    width: 1200px;
  }
}

.section {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.nav-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.14;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .nav-site {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header__flex a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*.header__flex {
  display: flex;
  align-items: center;
}*/
.nav-site__link {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.17;
  font-size: 40px;
  text-decoration: none;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* &--active::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    background-color: getColor("sub-accent");
    border-radius: 2px;
    margin: 0;
    padding: 0;
  }*/
}
@media screen and (min-width: 768px) {
  .nav-site__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav-site__link {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}
.nav-site__link--active {
  color: #2196f3;
}
.nav-site__link:hover, .nav-site__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .nav-site__link--active::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    margin: 0;
    padding: 0;
  }
}

.nav-site__item {
  margin-bottom: 32px;
}
.nav-site__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .nav-site__item {
    margin-bottom: 0;
    margin-right: 50px;
    position: relative;
  }
  .nav-site__item:last-child {
    margin-right: 0px;
  }
}

.nav-site__list {
  padding-top: 0px;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .nav-site__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-left: 87px;
    margin-right: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-site__list {
    margin-right: 315px;
    margin-left: 92px;
  }
  .nav-site__list:last-child {
    margin-right: 0px;
  }
}

.header__menu {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__menu:hover, .header__menu:focus {
  fill: #2196f3;
}

.header__menu .header__close {
  display: none;
}

.header__menu.is-open .header__close {
  display: block;
}

.header__menu.is-open .header__icon-menu {
  display: none;
}

.header__menu .header__icon-menu {
  display: block;
}

@media screen and (max-width: 767px) {
  .header__menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    background-color: #ffffff;
  }
  .header__menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffffff;
    position: absolute;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding-left: 40px;
    margin: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .header__menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
  }
}

.header__menu.is-open .header__menu-container {
  display: block;
}

.header__menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0px;
  margin-right: 0;
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .header__soc-list {
    display: none;
  }
}

.header__soc-link:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.header__soc-link:not(:first-child) {
  padding-left: 10px;
}

.header__soc-list a {
  text-decoration: none;
  color: #2196f3;
  font-size: 18px;
  line-height: 1.22;
}

.address {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  list-style: none;
}
.address:first-child {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .address {
    display: block;
    margin-left: auto;
    margin-bottom: 0px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
  }
}

.address__list {
  font-size: 12px;
  text-decoration: none;
  color: #757575;
  font-size: 24px;
  line-height: 1.17;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__list:hover, .address__list:focus {
  color: #2196f3;
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .address__list {
    font-size: 12px;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .address__list {
    font-size: 14px;
  }
}
.address__list:hover, .address__list:focus {
  color: #2196f3;
  fill: #2196f3;
}
.address__list.phone {
  font-size: 34px;
}
@media screen and (min-width: 768px) {
  .address__list.phone {
    font-size: 12px;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .address__list.phone {
    font-size: 14px;
  }
}
.address__list.phone:hover, .address__list.phone:focus {
  color: #2196f3;
  fill: #2196f3;
}

.address__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .address__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin-right: 10px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .address__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .address__icon.envelope {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .address__icon.envelope {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .address__icon.smartphone {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .address__icon.smartphone {
    width: 10px;
    height: 16px;
  }
}

.address__list.phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .address__list.phone {
    font-size: 12px;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #757575;
  }
}

@media screen and (min-width: 768px) {
  .address__contacts:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .address__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .address__contacts:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .address__contacts {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 40px;
  margin-top: 0;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .section-portfolio__list {
    width: 326px;
  }
}
@media screen and (min-width: 1200px) {
  .section-portfolio__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-content: center;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 50px;
  }
}

.section-portfolio__item {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .section-portfolio__item:last-child {
    margin-right: 0;
    margin-top: 15px;
  }
  .section-portfolio__item:nth-child(4) {
    margin-top: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .section-portfolio__item {
    margin-top: 0;
  }
}

.section-portfolio__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  padding: 6px 22px;
  margin: 0;
  border-radius: 4px;
  text-align: center;
  background-color: #f5f4fa;
  border: none;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio__button:hover, .section-portfolio__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.examples-list__item {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  /*
  background-color: getColor("accent-color");
  width: 450px;
  height: auto;

  @media screen and(min-width: 768px) {
    width: 354px;
  }
  @media screen and(min-width:1200px) {
    width: 370px;
  }
  */
}
.examples-list__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .examples-list__item {
    width: calc((100% - 30px) / 2);
  }
  .examples-list__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .examples-list__item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 60px) / 3);
  }
  .examples-list__item:nth-child(3n) {
    margin-right: 0;
  }
  .examples-list__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.examples-list__link {
  display: block;
  text-decoration: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .examples-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.examples-list__link:hover,
.examples-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-list__overlay {
  position: relative;
  overflow: hidden;
}

.examples-list__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.examples-list__name {
  margin-top: 4px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.examples-list__text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-list__link:hover .examples-list__text, .examples-list__link:focus .examples-list__text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.examples-list__text p {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}

.examples-list__border {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .examples-list__border {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.footer-form {
  text-align: center;
  padding: 0;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0;
    padding-top: 0;
  }
}

.footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  line-height: 1.87;
  padding: 0;
  margin: 0 auto 0 auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .footer-form__btn {
    margin: 0 0 0 12px;
  }
}
.footer-form__btn:hover, .footer-form__btn:focus {
  background-color: #188ce8;
}
.footer-form__btn svg {
  margin-left: 10px;
}

.footer-form__input {
  display: block;
  width: 100%;
  outline: none;
  padding: 15px 16px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bgc);
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-bottom: 0;
  }
}
.footer-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  font-size: 16px;
  position: absolute;
  left: 16px;
  top: 15px;
}
.footer-form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  font-size: 16px;
  position: absolute;
  left: 16px;
  top: 15px;
}
.footer-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  font-size: 16px;
  position: absolute;
  left: 16px;
  top: 15px;
}
.footer-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  font-size: 16px;
  position: absolute;
  left: 16px;
  top: 15px;
}
.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  font-size: 16px;
  position: absolute;
  left: 16px;
  top: 15px;
}
.footer-form__input:focus {
  padding: 15px 16px;
}

.footer-form__label {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-form__label {
    text-align: left;
  }
}

.footer-page {
  padding: 60px 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
}

.footer-page__maps {
  text-align: center;
}

.footer-page__margin {
  margin-top: 8px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-page__margin {
    margin-top: 9px;
    text-align: left;
  }
}

.footer-page__link {
  display: inline-block;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-style: normal;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-page__link:hover, .footer-page__link:focus {
  color: #2196f3;
}

.footer-page__address {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 60px 0;
}

@media screen and (min-width: 1200px) {
  .footer-page__base-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .footer-page__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-page__distance {
    margin-right: 70px;
  }
}

/*.footer-page__base-container {
  display: flex;
  align-items: baseline;
}*/
/*.icon-footer {
  margin-left: 70px;
}*/
.icon-footer__list:not(:last-child) {
  margin-right: 10px;
}

.icon-footer__actually {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  fill: #ffffff;
}

.icon-footer__link {
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer__link:hover, .icon-footer__link:focus {
  background-color: #2196f3;
}

.icon__actually {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  fill: #ffffff;
}

.icon-footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  margin-top: 0;
}

.icon-footer__title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: 1200px) {
  .icon-footer {
    margin-right: 0px;
  }
}/*# sourceMappingURL=portfolio.css.map */