.customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  padding: 0;
  margin: 0;
  @media screen and(min-width:1200px) {
    flex-wrap: nowrap;
  }
}

.customers__title {
  font-weight: 700;
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 28px;
  color: getColor("brand-color");
  line-height: 1.16;

  @media screen and(min-width:1200px) {
    & {
      font-size: 36px;
      margin: 0 0 50px 0;
    }
  }
}

.customers__link {
  display: flex;

  width: 210px;
  height: 92px;

  @media screen and(min-width:768px) {
    width: 226px;
  }
  @media screen and(min-width:1200px) {
    width: 170px;
  }
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: getColor("accent-color");
  border: 1px solid getColor("border-btn");
  border-radius: 4px;
  color: getColor("border-btn");
  transition-property: border-color, fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: getColor("sub-accent");
    border-color: getColor("sub-accent");
  }
}
.customers__icon {
  display: flex;
  fill: currentColor;
  margin: 0;
  justify-content: center;
}
.customers__item {
  @media screen and(min-width:480px) {
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:nth-child(-n + 4) {
      margin-bottom: 30px;
    }
  }
  @media screen and(min-width:768px) {
    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
    &:nth-child(4) {
      margin-bottom: 0px;
      margin-right: 30px;
    }
    &:nth-child(3) {
      margin-right: 0px;
    }
    &:nth-child(2) {
      margin-right: 30px;
    }
    &:nth-child(6) {
      margin-right: 0px;
    }

    @media screen and(min-width:1200px) {
      &:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0;
      }
    }
  }
}
