.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin: 0;
  padding: 0;
}

.examples-list__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  background-color: getColor("accent-color");

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
.examples-list__link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-list__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples-list__overlay {
  position: relative;
  overflow: hidden;
  & img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.examples-list__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: getColor("brand-color");
}
.examples-list__name {
  margin-top: 4px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  color: getColor("text-color");
}

.examples-list__text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  opacity: 0;
  transform: translateY(100%);

  background-color: getColor("examples-rgba");
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .examples-list__link:hover & {
    opacity: 1;
    transform: translateY(0);
  }
  & p {
    padding: 0;
    margin: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: getColor("accent-color");
  }
}

.examples-list__border {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid getColor("border");
  border-left: 1px solid getColor("border");
  border-right: 1px solid getColor("border");
}
