.footer-page {
  padding: 60px 0;
  background-color: getColor("bgc");
}
.footer-page__margin {
  margin-top: 9px;
}
.footer-page__link {
  display: inline-block;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-style: normal;
  line-height: 1.7;
  color: getColor("mail-style");
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor("sub-accent");
  }
}

.footer-page__address {
  margin: 0;
  padding: 0;
}
/*.footer-page__base-container {
  display: flex;
  align-items: baseline;
}*/
