.address {
  margin: 0;

  display: flex;
  flex-direction: column-reverse;
  list-style: none;
  &:first-child {
    margin-bottom: 32px;
  }
  @media screen and(min-width:768px) {
    display: block;
    margin-left: auto;
    margin-bottom: 0px;
    padding: 0;
  }
  @media screen and(min-width:1200px) {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }
}
.address__list {
  font-size: 12px;
  text-decoration: none;
  color: getColor("text-color");
  font-size: 24px;
  line-height: 1.17;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: getColor("sub-accent");
    fill: getColor("sub-accent");
  }
  @media screen and(min-width:768px) {
    font-size: 12px;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: getColor("text-color");
  }

  @media screen and(min-width:1200px) {
    font-size: 14px;
  }
  &:hover,
  &:focus {
    color: getColor("sub-accent");
    fill: getColor("sub-accent");
  }

  &.phone {
    font-size: 34px;
    font-weight: 500;
    color: getColor("sub-accent");
    line-height: 1.17;
    @media screen and(min-width:768px) {
      font-size: 12px;
      letter-spacing: 0.02em;

      color: getColor("text-color");
    }
    @media screen and(min-width:1200px) {
      font-size: 14px;
    }
  }
  &.phone:hover,
  &.phone:focus {
    color: getColor("sub-accent");
    fill: getColor("sub-accent");
  }
}

.address__icon {
  display: none;
  @media screen and(min-width:768px) {
    display: flex;
    padding: 0;
    margin-right: 10px;
    fill: currentColor;
  }
  @media screen and(min-width:1200px) {
    display: flex;
  }
}
.address__icon.envelope {
  @media screen and(min-width:768px) {
    width: 14px;
    height: 10px;
  }
  @media screen and(min-width:1200px) {
    width: 16px;
    height: 12px;
  }
}
.address__icon.smartphone {
  @media screen and(min-width:768px) {
    width: 10px;
    height: 14px;
  }
  @media screen and(min-width:1200px) {
    width: 10px;
    height: 16px;
  }
}

.address__contacts {
  @media screen and(min-width:768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and(min-width:1200px) {
    display: flex;

    &:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }
  @media screen and(min-width:1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
