.address {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 21px 15px 21px 0;

  list-style: none;
  &:first-child {
    margin-bottom: 32px;
  }

  @media screen and(min-width:768px) {
    margin-left: auto;
    &:first-child {
      margin-bottom: 0px;
    }
  }
  @media screen and(min-width:1200px) {
    display: flex;

    margin-bottom: 0;
  }
}
.address__list {
  text-decoration: none;
  color: getColor("text-color");

  font-size: 34px;
  line-height: 1.17;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: getColor("sub-accent");
    fill: getColor("sub-accent");
  }

  @media screen and(min-width:768px) {
    display: flex;

    &:not(:last-child) {
      margin-right: 50px;
    }
    & {
      font-size: 12px;
      letter-spacing: 0.02em;
      font-weight: 500;
    }
  }
  @media screen and(min-width:1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.address__icon {
  display: none;
  @media screen and(min-width:768px) {
    display: flex;
    padding: 0;
    margin-right: 10px;
    fill: currentColor;
  }
  @media screen and(min-width:1200px) {
    display: flex;
  }
}
.address__icon.envelope {
  @media screen and(min-width:768px) {
    width: 14px;
    height: 10px;
  }
  @media screen and(min-width:1200px) {
    width: 16px;
    height: 12px;
  }
}
.address__icon.smartphone {
  @media screen and(min-width:768px) {
    width: 10px;
    height: 14px;
  }
  @media screen and(min-width:1200px) {
    width: 10px;
    height: 16px;
  }
}
.address__list.phone {
  @media screen and(min-width:768px) {
    font-size: 12px;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: getColor("text-color");
  }

  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: getColor("sub-accent");
}
.address__contacts {
  @media screen and(min-width:768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
