.header {
  position: relative;

  border-bottom: 1px solid getColor("line");
}
.nav-site {
  display: flex;
  line-height: 1.14;

  font-size: 14px;

  @media screen and (min-width: 768px) {
    & {
      margin: 0;
      align-items: center;
    }
  }
}
.header__flex {
  @media screen and (min-width: 768px) {
    & a {
      display: flex;
    }
  }
}
/*.header__flex {
  display: flex;
  align-items: center;
}*/
.nav-site__link {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.17;
  font-size: 40px;

  @media screen and(min-width:768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
  text-decoration: none;

  color: getColor("brand-color");
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &--active {
    color: getColor("sub-accent");
  }
  &:hover,
  &:focus {
    color: getColor("sub-accent");
  }
  @media screen and(min-width:768px) {
    &--active::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: getColor("sub-accent");
      border-radius: 2px;
      margin: 0;
      padding: 0;
    }
  }
  /* &--active::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    background-color: getColor("sub-accent");
    border-radius: 2px;
    margin: 0;
    padding: 0;
  }*/
}

.nav-site__item {
  & {
    margin-bottom: 32px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and(min-width:768px) {
    & {
      margin-bottom: 0;
      margin-right: 50px;
      position: relative;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
.nav-site__list {
  padding-top: 0px;
  margin-top: 0;
  margin-bottom: 0;
  @media screen and(min-width:768px) {
    display: flex;
    margin-top: 0;
    margin-left: 87px;
    margin-right: 96px;
  }
  @media screen and(min-width:1200px) {
    margin-right: 315px;
    margin-left: 92px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.header__menu {
  @media screen and(min-width:768px) {
    display: none;
  }
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 11;

  &:hover,
  &:focus {
    fill: getColor("sub-accent");
  }
}
.header__menu .header__close {
  display: none;
}
.header__menu.is-open .header__close {
  display: block;
}
.header__menu.is-open .header__icon-menu {
  display: none;
}
.header__menu .header__icon-menu {
  display: block;
}

.header__menu-container {
  @media screen and(max-width:767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    background-color: getColor("accent-color");

    &.is-open {
      display: flex;
      z-index: 1;
      background-color: getColor("accent-color");
      position: absolute;
      justify-content: space-around;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      padding-left: 40px;
      margin: 0;
      transform: translateX(0);
    }
  }

  @media screen and(min-width:768px) {
    & {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
    }
  }
}

.header__menu.is-open .header__menu-container {
  display: block;
}
.header__menu-container.is-open {
  transform: translateX(0);
}

.header__soc-list {
  @media screen and(min-width:768px) {
    display: none;
  }
  display: flex;

  margin: 0;
  align-items: flex-start;
  margin-bottom: 0px;
  margin-right: 0;
  margin-left: 0;
}
.header__soc-link:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  padding-right: 10px;
}
.header__soc-link:not(:first-child) {
  padding-left: 10px;
}
.header__soc-list a {
  text-decoration: none;
  color: getColor("sub-accent");
  font-size: 18px;
  line-height: 1.22;
}
