.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: getColor("bgc");
  @media screen and(min-width:768px) {
    max-width: 1199px;
  }
  @media screen and(min-width:1200px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile-hero@1x.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile-hero@2x.jpg");
  }

  @media screen and(min-width:768px) {
    & {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/Hero-tablet.jpg");
      width: 100%;
      height: 400px;
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/Hero-tablet-2x.jpg");
    }
  }

  @media screen and(min-width:1200px) {
    & {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/Hero-desc.jpg");
      width: 1600px;
      height: 600px;
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/Hero-desc-2x.jpg");
    }
  }
}
.hero__btn {
  @extend %button-style;

  font-family: inherit;
  line-height: 1.8;
  padding: 10px 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  text-align: center;

  @media screen and(min-width:1200px) {
    min-width: 216px;
  }

  &:hover,
  &:focus {
    background-color: getColor("hover-accent");
  }
}
.hero__headline {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: getColor("accent-color");
  @media screen and(min-width:1200px) {
    & {
      width: 696px;
      margin-bottom: 30px;
      font-size: 44px;
    }
  }
}
