.logo {
  @include color(getColor("logo"));
  @extend %logo-text;

  display: block;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 0;
  font-weight: 700;
  font-size: 24px;
  margin-right: 87px;

  @media screen and(min-width:1200px) {
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 0;
    margin-right: 93px;
  }
}
.logo__base {
  color: getColor("sub-accent");
}
.footer-page__logo {
  @include color(getColor("accent-color"));
  @extend %logo-text;
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
}
