.our-team {
  background-color: getColor("bgc-section");
}
.our-team__heading {
  font-weight: 700;
  font-size: 28px;

  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  line-height: 1.17;
  @media screen and(min-width:1200px) {
    & {
      font-size: 36px;
      text-align: center;
      line-height: 1.16;
    }
  }
}
.our-team__item {
  box-shadow: 0px 1px 3px getColor("focus"), 0px 1px 1px getColor("color-focus"),
    0px 2px 1px getColor("sub-focus");
  border-radius: 0px 0px 4px 4px;
  background: getColor("accent-color");

  @media screen and(min-width:480px) and(max-width:767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and(min-width:768px) and(max-width:1199px) {
    & {
      width: calc((100% - 30px) / 2);
    }
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:nth-child(1) {
      margin-bottom: 30px;
    }
    &:nth-child(2) {
      margin-bottom: 30px;
    }
    &:nth-child(3) {
      margin-bottom: 0px;
    }
  }
  @media screen and(min-width:1200px) {
    & {
      width: calc((100% - 3 * 30px) / 4);
      margin-bottom: 0;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.our-team-list {
  margin: 0;
}
/*.our-team__photo {
 

  @media screen and(min-width:768px) {
    width: 354px;
    height: 374px;
  }
  @media screen and(min-width:1200px) {
    width: 270px;
    height: 260px;
  }
}*/
.our-team__list {
  margin-top: 0;
  margin-bottom: 0;

  @media screen and(min-width:768px) {
    & {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media screen and(min-width:1200px) {
    & {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}

/*.our-team-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}*/

.our-team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
  text-align: center;
}

.our-team__position {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
  color: getColor("text-color");
  line-height: 1.18;
  text-align: center;
}
.our-team__container {
  padding: 30px 74px 24px 74px;

  @media screen and(min-width:1200px) {
    padding: 30px 32px;
  }
}
